table{

    border-collapse: collapse;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

h1{
    font-size: 30px;
    margin-top: 5vh;
    color: #222222;
}

th{
    background-color: rgb(169 169 169 / 55%);
    font-size: 10px;
    height: 14px;
    color: aliceblue;
}


td{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    height: 16px;
    color: #0c0c0c;
    padding: 3rem 6rem;
    font-size: 19px;
}

.wrapper-h1{
    display: flex;
    justify-content: center;
}

tr:nth-child(odd) {
    background-color: #b6b7b8;
}

.name-product{
    font-size: 15px;
}
img{
    width: 117px;
    height: 11vh;
}

.td-img{
    width: 20%;
}

.emty{
    text-align: center;
}

.totalprice{
    margin-right: -30vw;
    margin-top: 3vh;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.btn-back{
    height: 5vh;
    display: flex;
    align-items: center;
}


.btn-back a{
    margin-left: 5vw;
    padding: 10px 12px;
    border-radius: 20px;
    background-color: #0c0c0c;
    text-decoration: none;
    color: white;
}

.btn-back a:hover{
    background-color: #2b2a2ab6;
}


input[type=number]{
    width: 70px;
    padding: 8px 12px;
    font-size: 17px;
}