table{
    width: 100vw;
    height: 50vh;
    border-collapse: collapse;
    color: white;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 5vh;
    text-align: center;
    color: white;
    background-color: #442dafc9;
    padding: 2px 3px;
    margin-bottom: 1vh;
    width: 26vw;
    text-align: center;
}

th{
    background-color: rgb(169 169 169 / 55%);
    font-size: 10px;
    height: 14px;
    color: aliceblue;
}


td{
    text-align: center;
    background-color: hsl(206deg 97.58% 56.65% / 18%);
    height: 16px;
    
}

.wrapper-h1{
    display: flex;
    justify-content: center;
}

tr:nth-child(odd) {
    background-color: #4d90fe;
}

h2{
    color: white;
    font-size: 15px;
}
img{
    width: 114px;
}

.td-img{
    width: 20%;
}

.emty{
    text-align: center;
}
