@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #faf9f8;
}


.nextmove-gradient {
  text-align: center;
  background: linear-gradient(to right, rgb(238, 255, 0) 20%, #ff0 40%, rgb(241, 3, 3) 60%, rgb(255, 238, 0) 80%);
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

.img-top-product{
  width: 200px;
  height: 200px;
}




@keyframes shine {
  to {
    background-position: 200% center;
  }
}
