.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: #002c39;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #b5b5b5;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ceebe1;
}

.nav-link:hover {
    color: #ffff;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
}
  