.label-file{
    border-radius: 2px;
    border: none;
    margin-top: 20px;
    padding: 6px 12px;
    background-color: #6957c0;
    color: white;
    margin-bottom: 4px;
    text-align: center;
}

.ghost{
    height: 2vh;
    padding-top: 46px;
    margin-top: -43px;
}

input[type=submit]{
    margin-left: -5px;
    border-radius: 2px;
    border: none;
    margin-top: 20px;
    padding: 10px 12px;
    background-color: #24426f;
    color: white;
    margin-bottom: 4px;
}

input[type=submit]:hover{
    background-color: #29579b;
}

::file-selector-button {
    display: none;
}

.log-out{
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 2px;
    background-color: #000000;
    color: white;
    margin-top: 5vh;
    margin-left: 30vw;
    text-align: center;
}

.log-out:hover{
    background-color: #000000b4;
}

.options{
    width: 45vw;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-right: 182vh;
}

.btn-styling-administration{
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 2px;
    background-color: #000000;
    color: white;
    text-align: center;
}

.btn-styling-administration:hover{
    background-color: #000000b9;
}

.wrapper-administrat{
    list-style: none;
    margin-top: 5vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.go-back-wrapper{
    width: 45vw;
    height: 10vh;
    margin-top: 5vh;
}

.choose-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form{
    display: flex;
    flex-direction: column;
}


#status{
    width: 100%;
    padding: 3px 10px;
    text-align: center;
}

.wrapper-sections{
    display: flex;
    justify-content: space-around;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    padding: 2vw 3vh;
    background-color: #4d90fe17;
    width: 23vw;
}


.card-user h3{
    background-color: #4d90fe;
    padding: 3px 10px;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

.card-user p{
    text-align: center;
    background-color: hsl(206deg 100% 73.3% / 29%);
    padding: 2px 4px;
    margin-top: 0px;
    height: 4vh;
    color: #090909;
}

.card-wrapper h2{
    text-align: center;
    color: white;
    background-color: #442dafc9;
    padding: 2px 3px;
}

.width{
    width: 21vw;
}

.remove-form{
   text-align: center;
}

.update-form{
    display: flex;
    flex-direction: column;
}

.wrapper-hero-img{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.hero-width{
    width: 41vw;
    height: 27vh;
}

.hero-file{
    margin-left: -80px;
    padding-top: 10px;
    padding-left: 80px;
    padding-bottom: 10px;
    cursor: pointer;
}


.go-back-hero{
    height: 5vh;
    margin-top: 5vh;
    list-style: none;
    margin-left: 5vw;
}